/built-ins/CodeEditor/build/
/built-ins/CodeEditor/nbproject/private/
/built-ins/ImageViewer/build/
/built-ins/ImageViewer/nbproject/private/
/dist/
/built-ins/DebugView/nbproject/private/
/built-ins/DebugView/build/
/built-ins/DebugView/dist/
/built-ins/DigitalClock/nbproject/private/
/built-ins/DigitalClock/build/
/built-ins/DigitalClock/dist/
/built-ins/Editor/nbproject/private/
/built-ins/Editor/build/
/built-ins/Editor/dist/
